.paginacion {
    display: flex;
    justify-content: space-between;
    padding: $separacion/2;
    button {
        border: none;
        padding: $separacion/4;
        background-color: $azul;
        color: $blanco;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: 1rem;

        @include tablet {
            padding:  $separacion/4 $separacion;
            font-size: 1.6rem;
        }
        

        &:hover {
            cursor: pointer;
        }
        &.ocultar {
            visibility: hidden;
        
        }
    }
}


