body {
    background-color: $negro;
    
}

.contenedor-estetica {
   
    @include tablet {
        @include grid (2, $separacion/2);
        height: 100vh;
    }

    h1 {
        margin-top: $separacion/2;
    }

    .imagen {
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        height: 30rem;
        @include tablet {
            height: auto;
        }
    }

}

.app {
    width: 95%;
    margin: 0 auto;
}

.seccion {
    
    display: none;
    &:first-of-type {
        display: block;
    }
    margin-top: $separacion/2;
}